body { 
    background-color:#100;
    color:#fff;
}
a {
    color: #5ff;
}
a:hover {
    color: #0f0;
}
a:visited {
    color: #099;
}
ol,ul {
    list-style:none;
}
.content {
    min-height: 600px;
}
.user_info {
    float: right;
}
.menu {
    margin-top: 50px;
    margin-left: 0px;
}
.jqDockWrap {
    margin-right: 0px;
}
.menu img {
    padding-right: 0px;
}
.footer {
    text-align: center;
}
.news {
    font-style: italic;
    font-size: small;
}
li {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}
div {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.license {
    font-size: small;
    text-align: center;
}
