{% extends "richbase.html" %}
{% block title %}
{{ bus }}
{% endblock %}
{% block head %}
<style type="text/css">
   a.bus_route {
      color: #fff;
      /*text-decoration: none;*/
   }
   a.bus_route:hover {
      color: #ff0;
      text-decoration: underline;
   }
   td {
      padding: 5px 50px 5px 50px;
   }
</style>
{% endblock %}
{% block content %}
<p>The following buses will be operated on Saturday 28th of August 2010</p>
<table style="border: 0">
<tr>
<td>
{% for bus in buses %}
<a class="bus_route" href="{% url show_route_textonly bus.id %}">{{ bus.name }} ({{ bus.route_name }})</a><br />
{% endfor %}
</td>
<td>
<h2 align="center">{{ bus.route_name }} (  Bus name: {{ bus.name }} ) <a style="font-size: medium;" href="{% url show_route bus.id%}">View Map</a></h2>
<table border="1" style="border-color: #00f;">
<tr>
<th>Stop Name</th>
<th>Time</th>
</tr>
{% for s in stop_timings %}
<tr>
   <td>{{ s.stop }}</td>
   <td>{{ s.time }}</td>
{% endfor %}
</tr>
</table>
</td>
</tr>
</table>
<p>Penna will undertake two more trips to the main road and back at 8:45am and at 9:15am.</p>
<p>
All the above buses will leave 15 minutes in advance of the scheduled timing which please note. On the return direction they will leave the campus at 4:30pm.
</p>
<p>Voila(Velachery route) will be operated as usual exclusively for the Administration Department Staff.</p>
{% endblock %}

