{% extends "richbase.html" %}
        {% block title %}Gallery{% endblock %}
    {% block content %}
        <h2>Gallery</h2>
        <object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/KjdHvTLYSN0&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/KjdHvTLYSN0&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>
        <object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/oMirn64nFaU&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/oMirn64nFaU&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>
    {% endblock %}
    
