{% extends "richbase.html" %}
{% block title %}Home{% endblock %}
    {% block content %}
        <div id="news_widget" class="ui-widget" onclick="location.href='/feed/rss';">
            <div id="news_header" class="ui-widget-header ui-corner-top">
                Latest happenings <img width="25px" height="25px" src="{{ MEDIA_URL }}/images/rss25.gif" alt="This section is available as an RSS Feed">
            </div>
            <div id="news_content" class="ui-widget-content ui-corner-bottom">
                <ul id="news" class="news" style="visibility:hidden">
                    {% for item in news_items %}
                        <li>{% autoescape off %}{{ item }}{% endautoescape %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>
        <div class="ui-widget">
            <div class="ui-widget-header">
               About the College
            </div>
            <div class="ui-widget-content">
                <img class="p_img" width="200px" height="131px" src="{{ MEDIA_URL }}/images/kcg_college_image.jpg" align="left"/>
                <p>KCG College of Technology (KC Tech) was established in 1998 and is affiliated to the Anna University and also approved by the All India Council for Technical Education (AICTE), Government of India, New Delhi and Government of Tamil Nadu. It is the latest addition to the Hindustan Group of Institutions. The vision of the College is " to develop KC Tech into an Institution of Excellence in Engineering Education at Graduate and Post Graduate level and to carry out quality research in Science, Engineering and Technology".</p>
                <p>Academic core philosophy is rooted in the belief that education, beyond knowledge must point the way to self-fulfillment through the development of the entire personality. By optimizing their potential and providing them direction through a cohesive training program, the KC Tech team will empower each student to successfully confront and overcome the formidable competition that awaits them in the global market place.</p>
            </div>
        </div>
        <br>
        <div class="ui-widget">
            <div class="ui-widget-header">
                About the Department
            </div>
            <div class="ui-widget-content">
                <img class="p_img" width="80px" height="80px" src="{{ MEDIA_URL }}/images/CSE_logo_blue.png" align="left"/>
                <p>The department of Computer Science and Engineering (CSE) at KC Tech is well renowed for its excellence in education and for impart the state of art education. Today the department has vibrant student body numbering about 480. The department promises to produce refined, skilled and competent students.</p>
                <p>Computer Science and engineering graduates are the pillars in the current and emerging information era. Opportunities include pursuing Master of Science programs in reputed Universities of U.S. and taking up research assignments in Hardware, System Software, Computer Engineering, Multimedia, Networking and Communications areas.</p>
            </div>
        </div>
    {% endblock %}
    
