<!DOCTYPE html>
<html>
    <head>
        <title>Cseismic 2k10 | {% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="description" content="Cseismic 2k10 is a National level Technical Symposium conducted by Department of Computer Science and Engineering, KCG College of Technology, Chennai. The date of the symposium is 28th August 2010.">
        <meta name="keywords" content="symposium, college, B.E, CSE, K.C.G., Cseismic, fest, event">
        {% if request.is_secure %}
        <meta http-equiv="X-XRDS-Location" content="https://{{ request.get_host }}{% url oid_xrdf %}" />
        {% else %}
        <meta http-equiv="X-XRDS-Location" content="http://{{ request.get_host }}{% url oid_xrdf %}" />  
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/base.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/custom-theme2/jquery-ui-1.8.2.custom.css" />
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-ui-1.8.2.custom.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.innerfade.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.jqDock.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/main.js"></script>
    {% block head %}
    {% endblock %}
    </head>
    <body>
        <div class="user_info">
            {% if request.user.is_authenticated %} 
            Hello {{ request.user }}, <a href="{% url user_signout %}?next=/">Sign out</a>
            {% else %}
            <a href="{% url user_signin %}?next={{request.get_full_path}}">Log In</a> | <a href="{% url registration_register %}?next={{request.get_full_path}}">Register</a> 
            {% endif %}
        </div>
        <h1 align="center">
            <img src="{{ MEDIA_URL }}/images/cseismic2k10.png" alt="Cseismic-2K10">
        </h1>
        <div id="menu" class="menu">
            <a href="/" ><img src="{{ MEDIA_URL }}/images/menu/Home.gif" alt="{{ MEDIA_URL }}/images/menu/Home.png"></a>
            <a href="{% url events %}"><img src="{{ MEDIA_URL }}/images/menu/Events.gif" alt="{{ MEDIA_URL }}/images/menu/Events.png"></a>
            <a href="{% url schedule %}"><img src="{{ MEDIA_URL }}/images/menu/Schedule.gif" alt="{{ MEDIA_URL }}/images/menu/Schedule.png"></a>
            <a href="{% url registration_register %}"><img src="{{ MEDIA_URL }}/images/menu/Register.gif" alt="{{ MEDIA_URL }}/images/menu/Register.png"></a>
            <a href="{% url gallery %}"><img src="{{ MEDIA_URL }}/images/menu/Gallery.gif" alt="{{ MEDIA_URL }}/images/menu/Gallery.png"></a>
            <a href="{% url contact_us %}"><img src="{{ MEDIA_URL }}/images/menu/Contact.gif" alt="{{ MEDIA_URL }}/images/menu/Contact.png"></a>
        </div>
<hr>
        <br>
        <div class="content">
        {% block content %}
            This website is under construction
        {% endblock %}
        </div>
        <hr>
        <div class="footer">
            <a href="/">Home</a> |
            <a href="{% url events %}">Events</a> |
            <a href="{% url schedule %}">Schedule</a> |
            <a href="{% url gallery %}">Gallery</a> |
            <a href="{% url contact_us %}">Contact Us</a> |
            <a href="{% url sitemap %}">Sitemap</a>
        </div>
        <div class="license">
        <a rel="license" href="http://creativecommons.org/licenses/by/2.5/in/"><img alt="Creative Commons License" style="border-width:0" src="{{ MEDIA_URL }}/images/ccby80x15.png" /></a><br /><span xmlns:dc="http://purl.org/dc/elements/1.1/" property="dc:title">Cseismic-2K10</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/2.5/in/">Creative Commons Attribution 2.5 India License</a>.
        <div>Website is created and maintained by <a href="http://github.com/jkk10/cseismic2kx">jkk</a></div>
        </div>
    </body>
</html>
