{% extends "richbase.html" %}
{% block title %}Sitemap{% endblock %}
    {% block content %}
        <h2>Sitemap</h2>
        <div>
        <ul>
            <li>Account
            <ul>
                <li>Sign In - <a href="{% url user_signin %}">{% url user_signin %}</a></li>
                <li>Sign Up - <a href="{% url registration_register %}">{% url registration_register %}</a></li>
                <li>Password Reset - <a href="{% url auth_password_reset %}">{% url auth_password_reset %}</a></li>
                <li>Event Participation - <a href="{% url participant_events %}">{% url participant_events %}</a></li>
            </ul>
            </li>
            <li>Events - <a href="{% url events %}">{% url events %}</a>
            <ul>
                {% for event in events %}
                <li>{{ event }} - <a href="{% url event_details event.slug %}">{% url event_details event.slug %}</a>
                </li>
                {% endfor %}
                <li>Schedule - <a href="{% url schedule %}">{% url schedule %}</a></li>
            </ul>
            <li>Results - <a href="{% url results %}">{% url results %}</a></li>
            <li>Transportation Facility - <a href="{% url bus_routes %}">{% url bus_routes %}</a></li>
            <li>Gallery - <a href="{% url gallery %}">{% url gallery %}</a></li>
            <li>Sitemap - <a href="{% url sitemap %}">{% url sitemap %}</a></li>
        </ul>
        </div>
    {% endblock %}
    
