{% extends "richbase.html" %}
{% block title %}Home{% endblock %}
    {% block content %}
        <h2>Sitemap</h2>
        <div>
        <ul>
            <li>Account
            <ul>
                <li>Sign In - <a href="http://cseismic2k10.co.cc/account/signin/">http://cseismic2k10.co.cc/account/signin/</a></li>
                <li>Sign Up - <a href="http://cseismic2k10.co.cc/account/signup/">http://cseismic2k10.co.cc/account/signup/</a></li>
                <li>Password Reset - <a href="http://cseismic2k10.co.cc/account/password/reset/">http://cseismic2k10.co.cc/account/password/reset/</a></li>
            </ul>
            </li>
            <li>Events - <a href="http://cseismic2k10.co.cc/events/">http://cseismic2k10.co.cc/events/</a>
            <ul>
                <li>Schedule - <a href="http://cseismic2k10.co.cc/events/schedule">http://cseismic2k10.co.cc/events/schedule</a></li>
            </ul>
            </li>
            <li>Gallery - <a href="http://cseismic2k10.co.cc/gallery">http://cseismic2k10.co.cc/gallery</a></li>
            <li>Sitemap - <a href="http://cseismic2k10.co.cc/sitemap">http://cseismic2k10.co.cc/sitemap</a></li>
        </ul>
        </div>
    {% endblock %}
    
