{% extends "richbase.html" %}
        {% block title %}Contact Us{% endblock %}
    {% block head %}
    {% endblock %}
    {% block content %}
        <h2>Contact Us</h2>
        <h3>Staff Coordinator:</h3>
	<ul>
	    <li>Cloudin S, Asst. Professor</li>
	</ul>
	<h3>Student Coordinators:</h3>
        <ul>
            <li>Gowtham S - Ph: 94438 61588</li>
	    <li>Ramya E</li>
        </ul>
        <h3>Sponsorship Student Coordinator:</h3>
        <ul>
            <li>Rahul V.K - Ph: 98849 95547</li>
	</ul>
        <p>You can send in your queries to <a href="mailto:cseismic2k10@gmail.com">cseismic2k10@gmail.com.</a></div>

    {% endblock %}
    
