{% extends "richbase.html" %}
        {% block title %}Contact Us{% endblock %}
    {% block head %}
    {% endblock %}
    {% block content %}
        <h2>Contact Us</h2>
        <h3>Student Coordinator:</h3>
        <ul>
            <li>Gowtham S - Ph: 94438 61588</li>
        </ul>
        <h3>Sponsorship Student Coordinator:</h3>
        <ul>
            <li>Rahul V.K - Ph: 98849 95547
        <br>
        <div>You can send in your queries to <a href="mailto:cseismic2k10@gmail.com">cseismic2k10@gmail.com.</a></div>

    {% endblock %}
    
