{% extends "richbase.html" %}
        {% block title %}{{ event }}{% endblock %}
    {% block content %}
        <div class="ui-widget">
            <div class="ui-widget-header">
                {{ event.caption }} | {{ event.classic_name }}
            </div>
            <div class="ui-widget-content">
                <h4>Description: </h4>
		{% autoescape off %}
                <div class="description">{{ event.description }}</div>
                <h4>Rules: </h4>
                <div class="rules">
                    {{ event.rules }}
                </div>
                {% if event.additional_info %}
                <div class="additional_info">
                    {{ event.additional_info }}
                </div>
                {% endif %}                    
                {% endautoescape %}
                <h4>Coordinators: </h4>
                <ul>
                    {% for coordinator in event.list_coordinators %}
                        <li class="coordinator">
                            {{ coordinator.fullname }}, {{ coordinator.get_academic_year_display }} - Ph: {{ coordinator.contact_phone }}
                        </li>
                    {% endfor %}
                </ul>
                <a href="{% url events %}">&laquo;Back to Events...</a>
            </div>
        </div>
    {% endblock %}
    
