{% extends "richbase.html" %}
        {% block title %}Events{% endblock %}
    {% block head %}
        <script type="text/javascript">
            $(document).ready( function() {
                $('#events').accordion({
                    active: false,
                    collapsible: true
                });
            });
        </script>
    {% endblock %}
    {% block content %}
        <h2>Events</h2>
        <div id="events" class="accordion">
            {% for event in events %}
                <h3>{{ event }}</h3>
                <div>
                    <h4>Description: </h4>
                    <p>{{ event.description }}</p>
                    <h4>Time: </h4>
                    <p class="oneliner">{{ event.start_time }} to {{ event.end_time }}</p>
                    <h4>Venue: </h4>
                    <p class="oneliner">{{ event.venue }}</p>
                    <a href="{% url event_details event.slug %}">&raquo;More...</a>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
    
