{% extends "richbase.html" %}
        {% block title %}Events{% endblock %}
    {% block head %}
        <script type="text/javascript">
            $(document).ready( function() {
                $('#events').accordion({
                    active: false,
                    collapsible: true,
                    autoHeight: false,
                });
            });
        </script>
    {% endblock %}
    {% block content %}
        <h2>Events</h2>
        <div id="events" class="accordion">
            {% for event in events %}
                <h3>{{ event }}</h3>
                <div id="event{{event.id}}">
                    {% if event.youtube_video %}
                    <div style="float:right; padding: 10px 10px 10px 30px;">
                        <embed src="http://www.youtube.com/v/{{ event.youtube_video.video_id }}&amp;rel=0&amp;autoplay=1;" type="application/x-shockwave-flash" allowfullscreen="true" width="480" height="385"></embed>
                    </div>
                    {% endif %}
                    <h4>Description: </h4>
                    {% autoescape off %}
                    <p>{{ event.description }}</p>
                    {% endautoescape %}
                    <h4>Time: </h4>
                    <p class="oneliner">{{ event.start_time }} to {{ event.end_time }}</p>
                    <h4>Venue: </h4>
                    <p class="oneliner">{{ event.venue }}</p>
                    <a href="{% url event_details event.slug %}">&raquo;More...</a>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
    
